<p>
  list-coffee-drinkers works!
</p>
<ul>
  <li *ngFor='let drinker of coffeeDrinkers'>{{drinker.name}} contributed {{drinker.contributions | currency}}</li>
</ul>

<div>
   <ngx-datatable
       [rows]="coffeeDrinkers"
       [columns]="columns">
       <!-- Failed to get notes from 
        https://github.com/swimlane/ngx-datatable/issues/401
        to work... 
       <ngx-datatable-column prop="contributions">
         <ng-template let-value="contributions" ngx-datatable-cell-template>
           {{ contributions | currency }}
         </ng-template>
       </ngx-datatable-column>
       -->
    </ngx-datatable>
</div>

<button (click)="getDrinkers()">getDrinkers()</button>